*{
    box-sizing: border-box;
}

.polaroid > img{
    max-height: 30vh;
    width: 100%;
    object-fit: cover;
}
p{
    margin: 3vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 3vh;
    font-size: 2.5vh;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}
.flex-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 40vh;
}
.flex-container:nth-child(even){
    flex-direction: row-reverse;
}

.flex-container > div{
    flex-basis: 50%;
    margin: 2em;
    align-items: center;
    padding: auto;
}

.flex-container:nth-child(odd) > *{
    animation: slideInKepLeft 2s ;
}

@keyframes slideInKepLeft {
    0%{ 
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.flex-container:nth-child(odd) > .kep{
    transform: translateX(-10%);
}
.flex-container:nth-child(even) > * {
    animation: slideInKepRight 2s ;
}

@keyframes slideInKepRight {
    0%{ 
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        
        opacity: 1;
        transform: translateX(0%);
    }
}

.biography{
    animation: slideIn 2s;
}

@keyframes slideIn {
    0%{ 
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        
        opacity: 1;
        transform: translateY(0%);
    }
}

.seged{
    width: 20vw;
    min-height: 19vw;
}

.polaroid {
    position: absolute;
    grid-column: 1/1;
    width: 25vw;
    max-width: 55%;
    background: #fff;
    padding: 3%;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    transition: all 0.3s;
    top: 0px
}


.elso{
    transform: rotate(-10deg);
}
.masodik{
    left: 30%;
}

.harmadik{
    transform: rotate(10deg);
    left: 60%;
} 

.polaroid > img{
    max-width: 100%;
    height: auto;
}

.polaroid:hover{
    transition: 0.3s;
    z-index: 3;
    transform: scale(1.3) rotate(0deg);
    
}

.caption {
    font-size: 1em;
    text-align: center;
    height: 3%;
    min-height: 3%;
    color: white;
}

.kep {
    width: 50%;
    margin-top: 2rem;
    position: relative;
    display: inline;
}

.text{
    line-height: 100%;
}


@media  screen and (max-width: 750px){
    
    .flex-container:nth-child(odd), .flex-container:nth-child(even){
        flex-direction: column;
    }
    .flex-container-column{
        justify-content: center;
    }
    
    .polaroid{
        position: static;
        width: 40%;
        max-width: 30vw;
        padding: 0;
        transform: none;
        top: auto;
        display: inline;
        box-shadow: none;
    }


    .flex-container > div{
        flex-basis: 100%;
        margin: 2vh;
        padding: 0;
    }
    
    .kep{
        width: 100%;
        min-height: 40vw;
        position: static;
        margin: auto;
        display: block;
    }
    .polaroid > img{
        max-height: 50vh;
    }

    p{
        line-height: 1.3em;
    }

    .flex-container:nth-child(odd) > .kep{
        transform: none;
    }

    .elso, .harmadik{
        display: none;
    }
}