*{
    box-sizing: border-box;
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.flex-container{
    margin: 1em 5em;
    display: flex;
    flex-direction: row;
    width: 80%;
    z-index: 0;
}
.flex-container:nth-child(even){
    flex-direction: row-reverse;
}

.flex-container > div{
    flex-basis: 50%;
    margin: 2em;
    align-items: center;
    padding: auto;
}

.flex-container:nth-child(odd) > .kep, .flex-container:nth-child(even) > .text{
    animation: slideInKepLeft 2s ;
    z-index: 0;
}

@keyframes slideInKepLeft {
    0%{ z-index: 0;
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}
.flex-container:nth-child(even) > .kep ,.flex-container:nth-child(odd) > .text{
    animation: slideInKepRight 2s ;
    z-index: 0;
}

@keyframes slideInKepRight {
    0%{ z-index: 0;
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}

.biography{
    animation: slideIn 2s;
}

@keyframes slideIn {
    0%{ z-index: 0;
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateY(0%);
    }
}

.seged{
    width: 20vw;
    min-height: 19vw;
}

.kep{
    position: relative;
}
.polaroid {
    position: absolute;
    grid-column: 1/1;
    width: 25vw;
    background: #fff;
    padding: 3%;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    transition: all 0.3s;
    top: 0px
}

/*
.kep > .polaroid:nth-child(1){
}
*/
.elso{
    transform: rotate(-10deg);
}
.masodik{
    left: 30%;
}

.harmadik{
    transform: rotate(10deg);
    left: 60%;
}
.polaroid > img{
    max-width: 100%;
    height: auto;
}
.polaroid:hover{
    transition: 0.3s;
    z-index: 5;
    transform: scale(1.2) rotate(0deg);
    /*animation: moveForward 0.3s forwards;*/
}

@keyframes moveForward {
    0%{

    }
    
    100%{
        z-index: 5;
        transform: translateY(0%) scale(1.3) rotate(0deg);
    }
}

.caption {
    font-size: 1em;
    text-align: center;
    height: 3%;
    min-height: 3%;
    color: white;
}
.kep {
    width: 50%;
    display: inline-block;
    margin-top: 2rem;
}


@media  screen and (max-width: 700px){
    .flex-container:nth-child(odd), .flex-container:nth-child(even){
        flex-direction: column;
        
    }
    .flex-container-column{
        justify-content: center;
    }

    .polaroid{
        width: 40%;
        padding: 2%;
    }


    .flex-container > div{
        flex-basis: 100%;
        margin: 0;
        padding: 0;
    }

    .kep{
        width: 100%;
        min-height: 40vw;
    }
}