img:hover{
    position: relative;
    transform: scale(1.1);
    transition: 0.5s ;
}
img{
    position: none;
    transition: 0.5s;
}


p{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}
.flex-container{
    margin: 1em 5em;
    display: flex;
    flex-direction: row;
    width: 80%;
    z-index: 0;
}

.reverse{
    flex-direction: row-reverse;
}

.flex-container > div{
    flex-basis: 50%;
    margin: 2em;
    align-items: center;
    padding: auto;
}

.normal > .kep, .reverse > .text{
    animation: slideInKepLeft 2s ;
    z-index: 0;
}

@keyframes slideInKepLeft {
    0%{ z-index: 0;
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}
.reverse > .kep , .normal > .text{
    animation: slideInKepRight 2s ;
    z-index: 0;
}

@keyframes slideInKepRight {
    0%{ z-index: 0;
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}

.biography{
    animation: slideIn 2s;
}

@keyframes slideIn {
    0%{ z-index: 0;
        transform: translateX(30%);
        opacity: 0;
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateY(0%);
    }
}

@media  screen and (max-width: 1000px){
    .flex-container{
        flex-direction: column;
        margin: auto;
    }

    .flex-container > div{
        flex-basis: 10%;
    }

}