@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.afterNav{
    text-align: center;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}



.studio{
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: 70rem;
    padding-top: 2rem;
}
.studio + .studio{
    padding-top: 5rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}


.small {
    width: 100%;
    margin-top: 8px;
}

h3, .small{
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#BigImage{
    max-height: 90vh;
    max-width: 96vw;
}

.imageContainer{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullPicture{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
    justify-content: center;
    align-items: center;
    object-fit: contain;
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    h3{
        font-size: 1.2rem;
    }
}