@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.nev{
    line-height: auto;
    text-align: center;
    width: 100%;
    top: 75%;
    z-index: 0;
}

img{
    object-fit: cover;
    height: 100%;
}
.kep{
    max-width: 70rem;
    margin: auto;
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.container{
    position: relative;
}
.container > div{
    padding: auto;
    animation: slideIn 2s;
}

@keyframes slideIn {
    0%{
        z-index: 0;
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}
/*
.felirat{
    position: relative;
    color:   #ffebb9;
    vertical-align: middle;
    padding: auto;
    margin: auto;
    z-index: 2;
    font-family: 'Great Vibes', cursive;
    font-size: 15vw;
}
*/
@media  screen and (max-width: 1050px){
    

    .container{
        padding: 0px;
        margin-top: 0px;
        position: static;
    }

    h1{
        font-size: 17vw;
    }
    .kep{
        width: 100%;
        height: 100vh;
    }
}

/* Animations */

h1:hover{
    animation: swing 0.4s ;
}

@keyframes swing{
    15%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(10deg);
    }
    45%{
        transform: rotate(-4deg);
    }
    60%{
        transform: rotate(4deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    90%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }

} 