@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.nev{
    line-height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    height: 100%;
}

img{
    object-fit: contain;
    max-width:100%;
    max-height:100%;
}
.kep{
    width: 90%;
    margin: auto;
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.kep:hover{
    transform: scale(1.04);
    box-shadow: 0 0 20px 1px black;
    transition: 0.3s;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-container > div{
    padding: auto;
    flex-basis: 50%;
    text-align: center;
    width: 50%;
    justify-content: center;
    padding: 1em;
    vertical-align: middle;
    animation: slideIn 2s;
}

@keyframes slideIn {
    0%{
        z-index: 0;
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        z-index: 0;
        opacity: 1;
        transform: translateX(0%);
    }
}

h1{
    vertical-align: middle;
    padding: auto;
    margin: auto;
    z-index: 2;
    font-family: 'Great Vibes', cursive;
    font-size: 7vw;
}

@media  screen and (max-width: 1050px){
    .flex-container{
        flex-direction: column;
    }

    .flex-container > div{
        margin-top: 3rem;
        width: 100%;
    }

    h1{
        font-size: 10vw;
    }
}

/* Animations */

h1:hover{
    animation: swing 0.4s ;
}

@keyframes swing{
    15%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(10deg);
    }
    45%{
        transform: rotate(-4deg);
    }
    60%{
        transform: rotate(4deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    90%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }

} 

.takar{
    background-color:white;
    height: 10rem;
    animation: opac 2s forwards;
}
@keyframes opac{
    0%{
        opacity: 1;
        transform: translateY(9rem);
    }
    40% {
        opacity: 1;
        transform: translateY(9rem);
    }
    100%{
        height: 0px;
        opacity: 0;
        display: none;
        transform: translateY(0em);
        z-index: 1;
    }
}

