:root{
    --background: #fff5db;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    overflow-x: hidden;
}
body {
    position: relative;
    min-height: 100vh;
}

img{
    alt: "Pic";
}

.afterNav{
    margin-top: 3.3rem;
    min-height: 100vh;
    max-width: 100vw;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.navMiddle{
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: inherit;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    max-height: inherit;
    min-height: inherit;
}
header{
    display: block;
}

.icons{
    position: relative;
    flex-basis: 30%;
    list-style: none;
    min-width: 100px;
    min-height: 22px;
}

.navigations{
    list-style: none;
    flex-basis: 70%;
    justify-content: space-around;
    width: 30%;
    display: flex;
    flex-direction: row;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
}
.navigations > li > a{
    transition: 0.3s linear;
    text-transform: uppercase;
}
.navigations > li > a:hover{
    position: relative;
    color: #ff3c3c;
    font-size: 1.15em;
    transition: 0.2s linear;
}
.navigations >li{
    padding-right: 2.5vw;
}
.inline > li{
    display: inline-block;
    text-decoration: none;
    padding: auto;
    font-size: 1rem;
    margin: auto;
}
/* icons */
.icon{
    height: 2rem;
    width: 2rem;
    background-size: cover;
}

#instagram{
    transition: 0.2s linear;
    margin-left: 1rem;
    margin-right: 2rem;
    filter:brightness(0%);
}

#instagram:hover{
    filter: brightness(100%);
}

#youtube{
    background-image: url(..//Images/youtubeC.svg);
    transition: 0.2s linear;
    filter: grayscale(100%) contrast(2);;
}

#youtube:hover{
    filter: grayscale(0%);
}

a{
    color: black;   
    text-decoration: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: 0.3s linear;
}

.burger {
    position: fixed;
    right: 3vh;
    align-items: right;
    cursor: pointer;
    display: none;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navbar {
    position: fixed;
    opacity: 0;
    transform: translateY(-40%);
    background-color: var(--background);
    max-height: 55px;   
    max-width: 100vw; 
    height: 5rem;
    width: 100%;
    z-index: 10;
    animation: slideInNav 0.5s forwards;
    vertical-align: middle;
    justify-content: center;
    min-height: 40px;
    transition: 0.3s;
    top: 0px;
}
.nav-fill{
    max-height: 55px;   
    max-width: 100vw; 
    height: 5rem;
}

@keyframes slideInNav {
    100%{
        opacity: 1;
        transform: none;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1001px){
    .inline > li{
        font-size: 1.2rem;
    }
    .navMiddle{
        width: 90%;
    }


    #instagram{
        margin-right: 5vw;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape){
    #navbar{
        height: 3rem;
        max-height: 3rem;
        width: 100%;
    }

    .nav-fill{
        height: 3rem;
        max-height: 3rem;
        width: 100%;
    }

    .afterNav{
        margin-top: 3rem;
        min-height: 150vh;
    }
    .navigations{
        width: 100%;
    }
    .navMiddle{
        width: 100%;
    }
    .icons{
        flex-basis: 20%;
    }
}
@media screen and (max-width: 800px) and (orientation: landscape){
    .navMiddle{
        width: 100vw;
    }

    .icon{
        margin-left: 1rem;
    }

    #instagram{
        margin: 0;
        margin-left: 1rem;
    }

    .navigations{
        transform: translateX(5%);
        width: 50%;
    }

    #navbar{
        opacity: 1;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 1300px) and (orientation: portrait){
    body{
        overflow-x: hidden;
    }
    
    .navigations{
        position: fixed;
        right: 0px;
        height: 100vh;
        top: 6vh;
        background-color:   #ffe195;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 10;
        justify-content: center;
    }

    .afterNav{
        margin-top: 6vh;
    }

    .navigations > li{
        flex-basis: none;
        font-size: 5vh;
        line-height: 1em;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10vh;
    }
   
    #navbar{
        height: 6vh;
        max-height: 6vh;
    }

    .nav-fill{
        height: 6vh;
        max-height: 6vh;
    }
    .navMiddle{
        width: 90%;

    }
    .icons{
        flex-basis: 50%;
    }
    .icon{
        width:  2rem;
        height: 2rem; 
        min-width: 22px;
        min-height: 22px;
    }
    .burger{
        display: block;
    }
    
    #toggle:checked ~ .navigations{
        opacity: 0.92;
        transform: translateX(0%);
        
    }

    #toggle:checked ~ .burger > .line1{
        transform:   rotate(45deg) translate(5px, 6px);
        width: 30px;
        transition: 0.3s linear;
    } 
    #toggle:checked ~ .burger > .line2{
        width: 0px;
        transition: 0.3s linear;
        opacity: 0;

    } 
    #toggle:checked ~ .burger > .line3{
        transform:   rotate(-45deg) translate(5px, -6px);
        width: 30px;
        transition: 0.3s linear;
    } 
    #instagram{
        margin-right: 5vw;
    }
}